language: php

php:
  - 7.1.3
  
before_script:
  - cp .env.travis .env
  - mysql -e 'create database homestead_test;'
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - composer install --no-interaction
  - php artisan key:generate
  - php artisan migrate
  
script:
  - vendor/bin/phpunit --coverage-text

