// Fonts
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Variables
@import "variables";

// Vuetify
@import "~vuetify/dist/vuetify.min.css";


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(24, 135, 244);
}
::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
}
.blis-grid{
  display: grid;
}
.blis-stats-title{
  
}
.blis-stats-card{
  grid-template-columns: 4fr 6fr;
  padding: 1rem;
}
.blis-stats-num{
  font-size: 2rem;
}